body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
     background: linear-gradient(to right, #7AFEE6, #365FCD); /* Degradado de #C8A2C8 a #8A2BE2 */
    height: 100vh; /* Asegura que el degradado cubra toda la altura de la ventana */
    justify-content: center;
    align-items: center;
}

.container {
	position: absolute;
    text-align: left;
	margin-left: 20px;
	left: 20px;
	top: 0px;

}
.input-group {
    margin-bottom: 20px; /* Espacio entre cada grupo de entrada */
    position: relative; /* Posición relativa para el posicionamiento de los elementos internos */
}

.textbox {
    width: 1000px; /* Ancho del cuadro de texto */
    height: 40px; /* Altura del cuadro de texto */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    resize: none; /* Evita la redimensión del textarea */
}

label {
    display: block; /* Asegura que el label ocupe su propia línea */
    font-family: cursive, sans-serif;
    font-size: 24px;
}

.imagen-esquina {
    position: absolute; /* Posicionamiento fijo para mantener la imagen en la ventana incluso al hacer scroll */
    top: 20px; /* Ajusta la posición desde arriba según sea necesario */
    right: 40px; /* Ajusta la posición desde la derecha según sea necesario */
    width: 150px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Mantén la proporción de la imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen */
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
}

.grupo2{
    position: absolute;
    top: 150px;
    left: 1100px;
    margin-bottom: 20px; /* Espacio entre cada grupo de entrada */
    position: relative; /* Posición relativa para el posicionamiento de los elementos internos */
}

.textbox2{
    width: 500px; /* Ancho del cuadro de texto */
    height: 40px; /* Altura del cuadro de texto */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    resize: none; /* Evita la redimensión del textarea */
}

.acciones {
    display: flex;
    justify-content: space-between;
    margin-top: 550px;
    padding:  20px;
}

.accion {
    flex-grow: 1;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: cursive, sans-serif;
    
    cursor: pointer;
    
}

.accion p {
    margin: 0;
    font-size: 28px;
    
}